#app{
    width: 400px;
  }
  input {
    margin: 2px;
    padding: 20px;
    font-size: 18px;
    text-align: right;
    border-style: none;
    font-family: monospace;
  }
  
  #clear {
    font-stretch: condensed;
    padding-left: 14px;
    padding-right: 14px;
  }
  #display {
    width: 150px;
    font-size: 19px;
    padding:5px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }